
img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}
#animals{
    margin:0 auto;
    width: 90vw;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    align-items: center;
    justify-items: center;
    
}
p{
    height: 300px;
    background-color: blue;
    width:300px;
}